<div class="container main-container">
    <div class="main-container-inner">
        <div class="heading">
            <div class="brand">
                <a href="#" class="logo">CodeCard</a>
            </div>
            <div class="navbarlist">
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container-fluid content">
            <div class="content-inner">
                <div class="contentbox">
                    <h2>Coming Soon</h2>
                    <p>
                        Every good thing takes time and we are dedicated to bringing you the best we could.
                        So we don't wanna rush and until then enjoy our freshly prepared videos on how to scoop in competitive programming. We are working hard.
                        Stay tuned. We will be rocking soon!!
                    </p>
                </div>
                <div class="countdown">
                    <div class="daydiv">
                        <div id="day">20</div>
                        <p>Days</p>
                    </div>
                    <div class="hourdiv">
                        <div id="hour">20</div>
                        <p>Hours</p>
                    </div>
                    <div class="minutediv">
                        <div id="minute">20</div>
                        <p>Minutes</p>
                    </div>
                    <div class="seconddiv">
                        <div id="second">20</div>
                        <p>Seconds</p>
                    </div>
                </div>
                {{!-- <div class="notify">
                    <button type="button" >Notify Me</button>
                </div> --}}
                <div class="social">
                    <li><a href="https://www.facebook.com/codecardofficial" target="_blank"><img class="fbimage" src="images/facebook.png"></a></li>
                    <li><a href="https://twitter.com/codecardoffl" target="_blank"><img src="images/twitter.png"></a></li>
                    <li><a href="https://www.instagram.com/codecardofficial/" target="_blank"><img src="images/instagram.png" ></a></li>
                </div>
            </div>
            <div class="imgbox">
                    <img src="images/man.png" />
            </div>
        </div>
    </div>

</div>


{{!-- <div class="main-content">
    <div class="main-content-inner">
        <div class="contentbox">
            <h2>Coming Soon</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Unde harum a odit ullam culpa ad earum accusantium
                doloribus tenetur error.
            </p>
        </div>
        <div class="countdown">
            <div id="day"></div>
            <div id="hour"></div>
            <div id="minute"></div>
            <div id="second"></div>
        </div>
        <a href="#">Notfiy Me!</a>
        <div class="social">
            <li><a href="#"><img src="images/facebook.png" ></a></li>
            <li><a href="#"><img src="images/twitter.png" ></a></li>
            <li><a href="#"><img src="images/instagram.png" ></a></li>
        </div>
    </div>
    <div class="imgbox">
            <img src="images/man.png" />
        </div>
</div> --}}